.sm{
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px 10px;
}

.header{
    text-align: center;
}

.d-grid{
    text-align: center;
}


.box .sm:hover {
    margin-top: -2px;
    margin-bottom: 2px;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.3);
  }

.box .sm:hover .btn{
    opacity: 1;
}